@import "../variables.scss";

.Search {
    width: 50%;
    border: 2px solid #ccc;
    font-size: 18px;
    padding: $padding*2 $padding*4;
    display: block;
    border-radius: 5px;
    margin-right: $margin*2;
}

.FilterHolder {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: $padding*3;
    box-sizing: border-box; 
}

.Filter {
    width: 25%;
    border: 2px solid #ccc;
    font-size: 18px;
    padding: $padding*2 $padding*4;
    display: block;
    margin-right: $margin*2;
}

.Reset {
    border: 2px solid #ccc;
    font-size: 18px;
    border-radius: 5px;
}
