@import "../variables.scss";

.Logo {
    width: 50px;
    height: 50px;
    background: red;
}

.Header {
    background: rgb(63, 62, 94);
    margin-bottom: $margin*2;
}

.Header-Holder {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    height: 50px;
    padding: 0 $padding;
    box-sizing: border-box;
}

.HeaderNav {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.HeaderNav-Item {
    color: #fff;
    text-decoration: none;
    margin: 0 $margin*2;
    padding: $padding*2 0;
    border-bottom: 3px solid transparent;
    transition: border .3s;

    &:hover {
        border-bottom: 3px solid #fff;
    }
}

.HeaderNav-Item__active {
    border-bottom: 3px solid #fff;
}

.user {
    height: 100%;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 16px/1.3 'Roboto', arial;
    text-decoration: none;
    color: $blue-color;
}
