$padding: 5px;
$margin: 10px;
$text-color: #2C2E3A;
$blue-color: #3f3e5e;


@mixin desktop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin no-desktop {
    @media screen and (max-width: 1100px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 1000px) {
        @content;
    }
}

@mixin no-tablet {
    @media screen and (max-width: 700px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 500px) {
        @content;
    }
}